/* =========================================================
   CARDAMOM BAJRA THEME
========================================================= */

.theme-bajra {
  --product-primary: #6b4a3a;
  --product-dark: #4f352a;
}

/* =========================================================
   COCOA RAGI THEME
========================================================= */

.theme-cocoa {
  --product-primary: #3e2721;
  --product-dark: #5a3a2e;
}

/* =========================================================
   COCONUT JOWAR THEME
========================================================= */

.theme-jowar {
  --product-primary: #6a4a35;
  --product-dark: #4a3226;
}
